<section class="share">
  <div class="inner">
    <div class="share-article-container">
      <div class="share-article">
        <div class="share-article-el">
          Share Article on: 
        </div>

        <div class="share-article-el">
          <ul>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_BLANK">Facebook</a></li>
            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ shop.url }}{{ article.url }}" target="_BLANK">LinkedIn</a></li>
            <li><a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ article.url }}" target="_BLANK">Twitter</a></li>
          </ul>
        </div>
      
      </div>
    </div>
  </div>
</section>
