<section class="section-block">
  {% if page.title != 'About' %}
    <div class="inner center intro-content">
      <h2 class="section-title">{{section.settings.section_title}}</h2>
      <p>{{section.settings.section_copy}}</p>
      <div class="kan-facts-parent">
        <div class="inner kan-facts">
          <div class="kan-facts__el">
            <svg xmlns="http://www.w3.org/2000/svg" width="93.75" viewBox="0 0 93.75 71.875">
              <path d="M48.438,68.75H39.063A1.562,1.562,0,0,0,37.5,70.313v7.813a1.56,1.56,0,0,0,1.563,1.563h9.375A1.56,1.56,0,0,0,50,78.125V70.313a1.56,1.56,0,0,0-1.563-1.563Zm-1.562,7.813h-6.25V71.875h6.25Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
              <path d="M78.125,70.312H81.25v3.125H78.125Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
              <path d="M84.375,70.312h6.25v3.125h-6.25Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
              <path d="M78.125,76.562h12.5v3.125h-12.5Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
              <path d="M96.766,27.586c-.016-.035-.023-.07-.039-.1s-.008-.039-.02-.059l-6.25-12.5h0a1.566,1.566,0,0,0-1.4-.863h-50a1.566,1.566,0,0,0-1.4.863l-6.25,12.5c-.008.02-.012.039-.02.059s-.023.07-.035.1a1.466,1.466,0,0,0-.1.484c0,.02-.012.035-.012.055v7.812H3.125v3.125H31.25v3.125H9.375v3.125H31.25V84.375a1.56,1.56,0,0,0,1.563,1.563h62.5a1.56,1.56,0,0,0,1.563-1.563V28.125c0-.02-.012-.035-.012-.055a1.466,1.466,0,0,0-.1-.484Zm-3.98-1.023H71.691L70.52,17.188H88.1Zm-33.41,3.125h9.375v18.75H59.376Zm8-12.5,1.172,9.375H59.583l1.172-9.375Zm-27.344,0H57.606l-1.172,9.375H35.34ZM93.751,82.813H34.376v-37.5h9.375V42.188H34.376V39.063h9.375V35.938H34.376v-6.25H56.251V50a1.56,1.56,0,0,0,1.563,1.563h12.5A1.56,1.56,0,0,0,71.876,50V29.688H93.751Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
              <path d="M3.125,62.5h25v3.125h-25Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
              <path d="M9.375,68.75h18.75v3.125H9.375Z" transform="translate(-3.125 -14.063)" fill="#DA6227"/>
            </svg>
            <p>Fast & Free Shipping</p>
            
          </div>
          <div class="kan-facts__el">
            <svg xmlns="http://www.w3.org/2000/svg" width="93.677" viewBox="0 0 93.677 90.7">
              <path d="M41.469,31.219H70.028v4H41.469Z" transform="translate(-3.161 -4.66)" fill="#DA6227"/>
              <path d="M21.328,35.828,16.32,30.9,13.512,33.75l7.867,7.738,12.59-12.84-2.859-2.8Z" transform="translate(-3.161 -4.66)" fill="#DA6227"/>
              <path d="M21.328,55.09,16.32,50.149l-2.809,2.863,7.867,7.738,12.59-12.84-2.859-2.8Z" transform="translate(-3.161 -4.66)" fill="#DA6227"/>
              <path d="M79.852,49V6.66a2,2,0,0,0-2-2H5.161a2,2,0,0,0-2,2V73.711a2,2,0,0,0,2,2h44.7A23.662,23.662,0,1,0,79.852,49ZM7.161,8.66H75.852v7.2H7.161Zm0,63.051V19.859H75.852v28.3A23.454,23.454,0,0,0,62,50.8v-.328l-20.531,0v4H56.942a23.594,23.594,0,0,0-7.43,17.2Zm66,19.629a20.033,20.033,0,1,1,.012,0Z" transform="translate(-3.161 -4.66)" fill="#DA6227"/>
              <path d="M75.172,59.75h-4V69.828H61.09v4H71.172V83.922h4V73.828h10.09v-4H75.172Z" transform="translate(-3.161 -4.66)" fill="#DA6227"/>
            </svg>      
            <p>Lab Tested </p>
          </div>
          <div class="kan-facts__el">
            <svg xmlns="http://www.w3.org/2000/svg" width="90.626" viewBox="0 0 90.626 89.035">
              <path d="M75,35.938H73.633a6.267,6.267,0,0,0,6.055,4.688h1.367A6.267,6.267,0,0,0,75,35.938Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M42.188,50H40.821a6.267,6.267,0,0,0,6.055,4.688h1.367A6.267,6.267,0,0,0,42.188,50Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M59.18,50H57.813a6.267,6.267,0,0,0-6.055,4.688h1.367A6.267,6.267,0,0,0,59.18,50Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M42.188,42.188H40.821a6.267,6.267,0,0,0,6.055,4.688h1.367A6.267,6.267,0,0,0,42.188,42.188Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M57.812,34.375a4.686,4.686,0,0,0-4.687-4.687,1.562,1.562,0,0,1-1.562-1.562V7.813a1.563,1.563,0,0,0-3.125,0,1.56,1.56,0,0,1-1.563,1.563H42.187V12.5h3.125v3.125H42.187v3.125h4.688a1.56,1.56,0,0,1,1.563,1.563v9.375H46.875a4.687,4.687,0,1,0,0,9.375h6.25a4.686,4.686,0,0,0,4.688-4.687ZM46.874,15.625V12.5h1.563v3.125ZM45.312,35.937V32.812h9.375v3.125Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M75,28.125H73.633a6.267,6.267,0,0,0,6.055,4.688h1.367A6.267,6.267,0,0,0,75,28.125Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M50.844,42.188H49.157A9.32,9.32,0,0,1,50,43.266,9.316,9.316,0,0,1,50.844,42.188Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M51.758,46.875h1.367a6.267,6.267,0,0,0,6.055-4.687H57.813A6.267,6.267,0,0,0,51.758,46.875Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M75,20.312H73.633A6.267,6.267,0,0,0,79.688,25h1.367A6.267,6.267,0,0,0,75,20.312Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M90.625,28.125a6.267,6.267,0,0,0-6.055,4.688h1.367a6.267,6.267,0,0,0,6.055-4.687Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M82.812,11.586l-1.187,1.188a4.686,4.686,0,0,0-.348,6.25l1.535,1.914,1.535-1.918A4.685,4.685,0,0,0,84,12.77Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M84.57,40.625h1.367a6.267,6.267,0,0,0,6.055-4.687H90.625A6.267,6.267,0,0,0,84.57,40.625Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M82.812,28.125h-.844a9.319,9.319,0,0,1,.844,1.078,9.315,9.315,0,0,1,.844-1.078Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M81.969,35.938a9.319,9.319,0,0,1,.844,1.078,9.315,9.315,0,0,1,.844-1.078Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M90.625,20.312A6.267,6.267,0,0,0,84.57,25h1.367a6.267,6.267,0,0,0,6.055-4.687Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M55.086,94.445a75.11,75.11,0,0,0-50.4-20.969v9.367A64.877,64.877,0,0,1,40.711,94.687Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M4.688,85.969v9.316l30.438-.508v0A61.672,61.672,0,0,0,4.688,85.969Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M25,26.562a6.267,6.267,0,0,0-6.055,4.688h1.367a6.267,6.267,0,0,0,6.055-4.687Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M95.312,73.484A74.952,74.952,0,0,0,63.757,81.2a91.991,91.991,0,0,1,7.031,7.043,64.919,64.919,0,0,1,24.523-5.391Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M95.312,60.965a87.664,87.664,0,0,0-10.938.883V40.625H81.249v21.73A86.966,86.966,0,0,0,52.913,72.812,90.935,90.935,0,0,1,61.2,78.976a78.1,78.1,0,0,1,34.109-8.617Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M14.062,46.875h1.367a6.267,6.267,0,0,0-6.055-4.687H8.007A6.267,6.267,0,0,0,14.062,46.875Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M95.312,85.977a61.7,61.7,0,0,0-22.391,4.754c.914,1.094,1.789,2.23,2.656,3.375l19.734-.328Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M71.7,94.168A87.867,87.867,0,0,0,51.562,75.7V55.469H48.437V73.715A87.627,87.627,0,0,0,18.749,62.4V46.876H15.624V61.9a86.9,86.9,0,0,0-10.938-.918V70.36A78.235,78.235,0,0,1,59.42,94.376Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M18.945,46.875h1.367a6.267,6.267,0,0,0,6.055-4.687H25A6.267,6.267,0,0,0,18.945,46.875Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M14.062,39.062h1.367a6.267,6.267,0,0,0-6.055-4.687H8.007A6.267,6.267,0,0,0,14.062,39.062Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M18.375,19.023l-1.187-1.187L16,19.023a4.686,4.686,0,0,0-.348,6.25l1.535,1.914,1.535-1.918a4.689,4.689,0,0,0-.348-6.246Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M25,34.375a6.267,6.267,0,0,0-6.055,4.688h1.367a6.267,6.267,0,0,0,6.055-4.687Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M14.062,31.25h1.367a6.267,6.267,0,0,0-6.055-4.687H8.007A6.267,6.267,0,0,0,14.062,31.25Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M16.344,42.188a9.32,9.32,0,0,1,.844,1.078,9.316,9.316,0,0,1,.844-1.078Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
              <path d="M17.188,34.375h-.844a9.32,9.32,0,0,1,.844,1.078,9.316,9.316,0,0,1,.844-1.078Z" transform="translate(-4.686 -6.25)" fill="#DA6227"/>
            </svg>
            <p>Organic</p>
          </div>
          <div class="kan-facts__el">
            <svg xmlns="http://www.w3.org/2000/svg" width="85.676" viewBox="0 0 85.676 90.982">
              <path d="M42.629,33.148s-5.32-12.785-14.559-14c0,0,1.383,1.516,3.547,4.281,6.4,8.184,19.66,27.344,24.266,50.781,0,0,6.719-55.625,36.957-69.438,0,0-26.691,29.492-32.664,90.719H51.59S49.723,59.28,33.3,38.374c0,0-12.691,1.121-17.172-7.465S12.766,13.362,7.164,4.776C48.726,1.288,42.629,33.147,42.629,33.147Z" transform="translate(-7.164 -4.51)" fill="#DA6227"/>
            </svg>
            <p>Vegan</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="inner two-col-parent-slide">
    {% for block in section.blocks %}
    {% assign product_item = all_products[block.settings.slide_product_image] %}
      <div class="two-col-offset">
        <div class="two-col-offset__el">
          <div class="content-container">
            <h4 class="section-title-mini user-persona">{{block.settings.slide_header}}</h4>
            <div class="intro-content-faq">
              <p>{{ block.settings.slide_copy }}</p>
            </div>
            <ul class="user-facts">

            {% assign fix = block.settings.slide_feature_one %}
            {% assign dosage = block.settings.slide_feature_two %}
            {% assign enjoyments = block.settings.slide_feature_three %}
            
            {% if fix.size > 2 %}
              <li>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tool"><path d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"></path></svg>
                </span>
                <span><strong>Fix:</strong> {{ block.settings.slide_feature_one }}</span>
              </li>

            {% endif %}

            {% if dosage.size > 2 %}
              <li>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-droplet"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
                </span>
                <span><strong>DOSAGE:</strong> {{ block.settings.slide_feature_two}}</span>
              </li>

              {% endif %}

            {% if enjoyments.size > 2 %}
              <li>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                </span>
                <span><strong>Enjoyments:</strong> {{ block.settings.slide_feature_three }}
                
                </span>
              </li>
            {% endif %}
            </ul>
            {% comment %} <div class="cta-el">
              <a href="#0" class="cta">Learn More</a>
            </div> {% endcomment %}
          </div>
        </div>
        <div class="two-col-offset__el">
          <div class="two-col-offset__img">
            <figure class="two-offset-img has-lazy-img">
              <img class="large-img" src="{{block.settings.slide_image | img_url: '600x350', crop: 'center' }}">
            </figure>
            <div class="floating-img">
              <figure class="floating-img__el has-lazy-img">
              <img src="{{product_item | img_url : 'master' }}">

              </figure>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  <div class="bg-element">
    {% include 'flower' %}
  </div>
</section>


{% schema %}
{
  "name": "Product Information",
  "tag": "section",
  "class": "facts",
  "settings": [
    {
      "id": "section_title",
      "type": "text",
      "label": "Facts Title"
    },
    {
      "id": "section_copy",
      "type": "richtext",
      "label": "Facts Copy"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Slide Item",
      "settings": [
        {
          "id": "slide_header",
          "type": "text",
          "label": "Slide Header"
        },
        {
          "id": "slide_copy",
          "type": "richtext",
          "label": "slide Copy"
        },
        {
          "id": "slide_feature_one",
          "type": "richtext",
          "label": "slide Feature Fix"
        },
        {
          "id": "slide_feature_two",
          "type": "richtext",
          "label": "slide Feature Dosage"
        },
        {
          "id": "slide_feature_three",
          "type": "richtext",
          "label": "slide Feature Additional"
        },
        {
          "id": "slide_image",
          "type": "image_picker",
          "label": "Slide Image"
        },
        {
          "id": "slide_product_image",
          "type": "product",
          "label": "Slide Product Image"
        },
        {
          "id": "slide_cta_link",
          "type": "url",
          "label": "Slide Cta Link"
        },
        {
          "id": "slide_cta_text",
          "type": "text",
          "label": "Slide Cta Text"
        }
      ]
    }
  ]
}
{% endschema %}