<section id="hero">
  <div class="inner">
    <div id="hdr-content">
      <h1>{{section.settings.headline}}</h1>
      <p>{{section.settings.content}}</p>
      <div class="cta-parent has-two-callouts">
        <a href="{{section.settings.primaryLink}}" class="cta">{{section.settings.primaryText}}</a>
        <a href="{{section.settings.secondaryLink}}" class="cta-secondary on-dark">
          <span class="link-text">{{section.settings.secondaryText}}</span>
          <span class="link-crt">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
              <path d="M5.17.479a.4.4,0,0,1,.659,0l4.74,6.894A.4.4,0,0,1,10.24,8H.76a.4.4,0,0,1-.33-.627Z" transform="translate(8) rotate(90)" fill="#da6227"/>
            </svg> 
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-bg">
    <div class="section-bg__el lazy-bg" data-bg="{{section.settings.section_bg | img_url: 'master'}}">
    </div>
  </div>
</section>



{% schema %}
  {
    "tag": "section",
    "name": "Home Hero",
    "settings": [
      {
        "id": "headline",
        "type": "text",
        "label": "Headline"
      },
      {
        "id": "content",
        "type": "html",
        "label": "content"
      },
      {
        "id": "primaryText",
        "type": "text",
        "label": "Primary Link Text"
      },
      {
        "id": "primaryLink",
        "type": "url",
        "label": "Primary Link"
      },
      {
        "id": "secondaryText",
        "type": "text",
        "label": "Secondary Link Text"
      },
      {
        "id": "secondaryLink",
        "type": "url",
        "label": "Secondary Link"
      },
      {
        "id": "section_bg",
        "type": "image_picker",
        "label": "Section Background"
      }
    ]
  }
{% endschema %}