<section class="k-hero">
  {% for block in section.blocks %}
  {% assign product_image = block.settings.hero_product_image  | img_url: 'master' %}
  {% assign background_image = block.settings.background  | img_url: 'master' %}
    <div class="k-hero__column">
      <div class="k-hero__copy">
        <div class="k-hero__animate">
          <h1>{{block.settings.column_title}}</h1>
        </div>
        <div class="k-hero__animate">
          <p>{{block.settings.column_copy}}</p>
        </div>
        <div class="k-hero__animate">
          <div class="k-hero__cta">
            <a href="{{block.settings.column_link}}" class="cta">Shop This</a>
          </div>
        </div>
      </div>

      <div class="k-hero__product">
        <div class="k-hero__product--img">
          <img src="{{ product_image }}" alt="">
        </div>
      </div>
      <div class="section-bg has-overlay">
        <div class="section-bg__el lazy-bg" data-bg="{{ background_image }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
{% comment %} <section id="hero">
  <div class="inner">
    <div id="hdr-content">
      <h1>{{section.settings.headline}}</h1>
      <p>{{section.settings.content}}</p>
      <div class="cta-parent has-two-callouts">
        <a href="{{section.settings.primaryLink}}" class="cta">{{section.settings.primaryText}}</a>
        <a href="{{section.settings.secondaryLink}}" class="cta-secondary on-dark">
          <span class="link-text">{{section.settings.secondaryText}}</span>
          <span class="link-crt">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
              <path d="M5.17.479a.4.4,0,0,1,.659,0l4.74,6.894A.4.4,0,0,1,10.24,8H.76a.4.4,0,0,1-.33-.627Z" transform="translate(8) rotate(90)" fill="#da6227"/>
            </svg> 
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="section-bg">
    <div class="section-bg__el lazy-bg" data-bg="{{section.settings.section_bg | img_url: 'master'}}">
    </div>
  </div>
</section> {% endcomment %}

{% schema %}
{
  "tag": "section",
  "blocks": [
    {
      "type": "hero_columns",
      "name": "Hero Columns",
      "settings": [
        {
          "id": "column_title",
          "type": "text",
          "label": "Column Title"
        },
        {
          "id": "column_copy",
          "type": "text",
          "label": "Column Copy"
        },
        {
          "id": "column_link",
          "type": "url",
          "label": "Column Link"
        },
        {
          "id": "hero_product_image",
          "type": "image_picker",
          "label": "Product Preview"
        },
        {
          "id": "background",
          "type": "image_picker",
          "label": "Background Image"
        }
      ]
    }
  ]
}

{% endschema %}