
{% assign team = article.handle | split : "/" | first  %}
{% if team == "team" %}
  <div class="header-spacer"></div>
  <section>
    <div class="inner team-member-single">
      <div class="article-element">
        <div class="article-element__img">
          <img src="{{ article.image.src | img_url: '380x405', crop: 'center' }}" alt="">
        </div>
      </div>
      <div class="article-element">
        <h1 class="section-title">{{ article.title }}</h1>
        <h4>{{ article.metafields.accentuate.job_title }}</h4>
        <div class="hr"></div>
          <article>
            {{ article.content }}
          </article>
          <div style="padding-top: 1em;">
            <a id="view-all" href="{{site.url}}/pages/about#team">View All Members</a>
          </div>
        </div>
      </div>
  </section>
{% else %}

<section id="hero">
  <div class="inner">
    <div id="hdr-content" class="article-single is-centered">
      <h1>{{ article.title }}</h1>
      
      <div class="blog-info">
        <div class="blog-info__el">
          By: <strong>{{ article.author }}</strong> <span> |&nbsp; </span>
        </div>
        <div class="blog-info__el">
           Posted on <span class="posted-date">{{ article.published_at | date: '%m'}}/{{ article.published_at | date: '%d'}}/{{ article.published_at | date: '%y'}}</span>
        </div>
      </div>
      {% assign tagCount = article.tags | size %}
      {% if tagCount > 0 %}
      <div class="blog-tags">
       Category: 
       {% for tag in article.tags %}
        {{ tag }}
       {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="section-bg has-overlay" id="hero_paralax">
    <div class="section-bg__el lazy-bg" data-bg="{{ article.image.src | img_url: 'master' }}">
    </div>
    <div class="in-view-indicator-bg"></div>
  </div>
</section>


<section class="section-block reduce-bottom article">
  <div class="inner content-area">
  {% assign number_of_comments = article.comments_count %}
  {% comment %} {% if comment and comment.created_at %}
    {% assign number_of_comments = article.comments_count %}
  {% endif %}
   {% endcomment %}

  <div>{{ article.content }}</div>
  {% if blog.comments_enabled? %}
    {% comment %} <h2>{{ number_of_comments }} comments</h2>
    {% paginate article.comments by 5 %}
      {% for comment in article.comments %}
        <div>
          <div>{{ comment.content }}</div>
          {{ comment.author }} @ {{ comment.created_at }}
        </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %} {% endcomment %}

    {% comment %} <div>
      {% form 'new_comment', article %}
        {{ form.errors | default_errors }}
        <label for="CommentAuthor">name</label>
        <input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}" autocapitalize="words">

        <label for="CommentEmail">email</label>
        <input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

        <label for="CommentBody">message</label>
        <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

        <input type="submit" value="post">
      {% endform %}
    </div> {% endcomment %}
  {% endif %}

</div>
</section>
{% include 'share-article' %}
{% comment %} {% include 'subscribe-blog' %} {% endcomment %}
{% include 'prev-next-blog' %}
{% endif %}

