
<div class="header-spacer"></div>
{% assign team = article.handle | split : "/" | first  %}
{% if team == "team" %}
  <section>
    <div class="inner team-member-single">
      <div class="article-element">
        <div class="article-element__img">
          <img src="{{ article.image.src | img_url: '380x405', crop: 'center' }}" alt="">
        </div>
      </div>
      <div class="article-element">
        <h1 class="section-title">{{ article.title }}</h1>
        <h4>{{ article.metafields.accentuate.job_title }}</h4>
        <div class="hr"></div>
          <article>
            {{ article.content }}
          </article>
          <div style="padding-top: 1em;">
            <a id="view-all" href="{{site.url}}/pages/about#team">View All Members</a>
          </div>
        </div>
      </div>
  </section>
{% else %}

<section>
  <div class="inner blog-hero">
    <div class="blog-hero__el">
      <div class="blog-hero__intro">
        <ul class="blog-hero__tags">
          {% for tag in article.tags %}
            <li><a href="{{site.url}}/blogs/article/tagged/{{ tag }}"> {{ tag }}<span class="comma">,</span></a></li>
          {% endfor %}
        </ul>
        <span>| 22 Min Read</span>
      </div>
      <h1>{{ article.title }}</h1>
      <div class="blog-hero__info">
        <div>
          Written by: <strong>{{ article.author }}</strong> <span> |&nbsp; </span>
        </div>
        <div>
          Posted on <span class="posted-date">{{ article.published_at | date: '%m'}}/{{ article.published_at | date: '%d'}}/{{ article.published_at | date: '%y'}}</span>
        </div>
      </div>
    </div>
    <div class="blog-hero__el">
      <div>
        <img src="{{ article.image.src | img_url: 'master' }}">
      </div>
    </div>
  </div>
</section>


<section class="section-block reduce-bottom article">
    <div class="inner content-area">
    {% assign number_of_comments = article.comments_count %}
    <article>{{ article.content }}</article>
  </div>
</section>
{% include 'share-article' %}
{% comment %} {% include 'subscribe-blog' %} {% endcomment %}
{% include 'prev-next-blog' %}

{% endif %}