<section class="in-hero" style="padding-top: 7em;">
    <div class="inner">
      <div class="collab">
        <div class="collab__el">
          <p>{{page.title}}</p>
        </div>
        <div class="collab__el cross">
          <span></span>
          <span></span>
        </div>
        <div class="collab__el">
          <p>Kannaco</p>
        </div>
      </div>

       {% assign influencer_img = page.metafields.accentuate.featured_image | first  %}

      <div class="influencer-image">
        <div class="influencer-image__el">
          <div class="inf-el">
            <img src="{{influencer_img.src}}}" alt="">
          </div>
          <div class="icon">
            <div class="icon__el">
              
            </div>
          </div>
          <div class="overlay-sheet"></div>
          <div class="cta-overlay">
            <a href="#favorites" class="cta-white">{{page.metafields.accentuate.button_text}}</a>
          </div>
        </div>
      </div>

      <div class="influencer-blurb">
        <div class="hr centered"></div>
        {{page.metafields.accentuate.why_they_choose_kannaco}}
      </div>
    </div>
  </section>


  <section class="influencer-favorites">
    <div class="inner">
      <div class="influencer-blurb" id="favorites">
        <div class="hr centered"></div>
        {{page.metafields.accentuate.favorite_products}}
      </div>

      <div class="influencer-products">
          {% assign selected_handles = page.metafields.accentuate.products | split: '|' %}
          {% for block in page.metafields.accentuate.products %}
          {% assign product_item = all_products[block] %}
          {% assign featured_image = product_item | img_url: 'master' %}
        <div class="influencer-products__item">

          <div class="influencer-products__img">
            <div>
              <img src="{{featured_image}}" alt="">
            </div>
            <div class="in-price">
              <p style="margin: 0;">{{ product_item.metafields.accentuate.product_promo_price }}</p>
              <p style="margin: 0;">{{product_item.metafields.accentuate.product_previous_price}}</p>
            </div>
          </div>
          <div class="influencer-products__content">
            <div class="influencer-products__container">
              <h4>{{ product_item.metafields.accentuate.mini_blurb }}</h4>
              <h3>{{product_item.title}}</h3>
              <div class="influencer-products__content--item">
                {{ product_item.metafields.accentuate.product_mini_details }} 
              </div>
              <div class="go-to-product">
                <form action="/cart/add" method="post" enctype="multipart/form-data" class="inf-btn">
                      
                  <input type="hidden" name="id" value="{{ product_item.variants.first.id }}" class="variant-prod" />
                  <button type="submit" name="add cta" >Add to cart</button>
                </form>      
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>