{% section 'blog-hero' %}

<section class="section-block reduce-bottom">
  <div class="inner center intro-content">
    <div class="section-title-spacing">
      <h2 class="section-title">All Kannaco Content</h2>
    </div>
  </div>

  <div class="inner">
  {% assign blog = blogs.article %}
    {% comment %}<ul>
      {% for tags in blog.tags %}
      <li><a href="{{blog.url}}/{{ tags }}">{{ tags }}</a></li>
      {% endfor %}
    </ul>
    {% endcomment %}
      {% paginate blog.articles by 9 %}
      <div class="blog-article-container">
        {% for article in blog.articles %}

          <div class="blog-article-container__el">

            <div class="blog-image-container">
              <div class="section-bg">
                <div class="section-bg__el lazy-bg" data-bg="{{ article.image.src | img_url : 'master'}}"></div>
              </div>
            </div>

            <div class="blog-article-header">
              <div class="blog-article-posted">
                <span class="day">Posted on: {{ article.published_at | date: '%m'}}-{{ article.published_at | date: '%d'}}-{{ article.published_at | date: '%y'}}</span>
              </div>
              <div class="blog-categories">
                {% for tags in article.tags %}
                  <small><span>{{ tags }} </span></small>
                {% endfor %}
              </div>
              <h4 class="section-title blog-grid-element-title"><a href="{{article.url}}">{{ article.title }}</a></h4>
            </div>

            <div class="content-general">
              {{ article.content | truncatewords: 30 }}
            </div>

            <div class="secondary-cta-parent">
              <a class="cta-secondary" href="{{ article.url }}">
                <span class="link-text">Read More</span>
                <span class="link-crt">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="11" viewBox="0 0 8 11">
                    <path id="Polygon_3" data-name="Polygon 3" d="M5.17.479a.4.4,0,0,1,.659,0l4.74,6.894A.4.4,0,0,1,10.24,8H.76a.4.4,0,0,1-.33-.627Z" transform="translate(8) rotate(90)" fill="#da6227"/>
                  </svg> 
                </span>
              </a>
            </div>

            {% if blog.comments_enabled? %}
              <p><a href="{{article.url}}#comments">{{ article.comments_count }} comments</a></p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if paginate.next.is_link %}
        <a href="{{ paginate.next.url }}">{{ paginate.next.title }}</a>
      {% endif %}
      {% if paginate.previous.is_link %}
        <a href="{{ paginate.previous.url }}">{{ paginate.previous.title }}</a>
      {% endif %}
    </div>
      
  	  {% endpaginate %}
</section>


{% section 'full-banner' %}
{% section 'pre-footer' %}
